
.nav-menu-icon:hover {
    background: #E5DAC0; color: #333; 
}


.nav-menu {
    width: 100%; text-align: center;
    background: url(images/planet.jpg) no-repeat;
    background-size: contain;
    height: 300px;
	top: -49px;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}

.nav-menu-icon {
    color: #F0EADC; 
    font-size: 25px;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px 20px;
    background: #333;
    left: 50vw;
	cursor: pointer;
    /* height: 40px; */
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

#menuToggle { display: none; }
#menuToggle:checked ~ .nav-menu { position: fixed; top: 0; }

.nav-menu:hover {
    top: 0;
}