* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    overflow: hidden;
}

.wrapper {
    
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/space.jpg) no-repeat center;
    overflow: hidden;
    position: relative;

   
}

.circle {
    background: #666;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 0.5;
    
}

